*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Inter,sans-serif;
}

body{
background: #0d1117;
color: #ffffff;
}

header{
display: flex;
justify-content: space-between;
padding: 25px 20%;

position: fixed;
width: 100%;
background: #161b22;
}

nav{
display: flex;
gap: 30px;
}

nav a{
text-decoration:none;
color:yellow;

transition:.3s;
}

nav a:hover{
color:#58a6ff;
}